.cartSection {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.emptyCartMessage {
  text-align: center;
  color: #777;
}

.cartItemList {
  list-style-type: none;
  padding: 0;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.itemInfo {
  flex: 1;
  padding-right: 15px;
}

.itemTitle {
  font-size: 18px;
  color: #333;
  margin: 0;
}

.itemPrice {
  font-size: 16px;
  color: #1e90ff;
  margin: 5px 0 0;
}

.itemImage {
  width: 100px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}
.quantityControls {
  margin: 10px 0;
}

.quantityButton {
  padding: 2px 5px;
  background-color: #1e90ff; /* 버튼 배경색 */
  color: white; /* 버튼 글자색 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.quantityButton:hover {
  background-color: #007bff; 
}

.quantityDisplay {
  margin: 0 10px; 
  font-size: 18px; 
  font-weight: bold; 
}
.deleteButton {
  padding: 4px 10px;
  background-color: #1e90ff; 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.deleteButton:hover {
  background-color: #007bff; 
  transform: scale(1.05); 
}

.deleteButton:active {
  transform: scale(0.95); 
}
