.shareAll {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
  display: none;
}

.dark-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명 검정색 */
  z-index: 999; /* Share 컴포넌트보다 위에 보이게 */
}
.shareAll.active {
  display: flex;
}

.mainbox {
  width: 300px;
  padding: 20px;
}

.shareUp {
  margin-left: 90px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareDown {
  margin-top: 10px;
}

.shareUp p {
  font-size: 1.25rem;
}

.shareUp button {
  margin-top: 10px;
  padding-bottom: 14px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 1.35rem;
}

.shareDownxBox {
  display: flex;
  gap: 52px;
}

.shareButton {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.kakaoLogo {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.downText span,
.downText p {
  width: 300px;
  margin-top: 20px;
  font-size: 1rem;
  margin-left: 20px;
}

.downText span {
  margin-left: 90px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
